<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="AppiumFramework.resources.Listeners"/>
<listener class-name="AppiumFramework.resources.ExtentReporterNG"/>


</listeners>

  <test thread-count="5" name="Test">
    <classes>
    
    <class name="AppiumFramework.testcases.TC_001_Sample1Locators"/>
    
    <!--
    <class name="AppiumFramework.testcases.TC_001_Sample1Locators"/>
    <class name="AppiumFramework.testcases.TC_002_Sample2Uiautomaortest"/>
    <class name="AppiumFramework.testcases.TC_003_Sample3Gestures"/>
    <class name="AppiumFramework.testcases.TC_004_Sample4swipedemo_tc"/>
    <class name="AppiumFramework.testcases.TC_005_Sample5scrollingDemo"/>
    <class name="AppiumFramework.testcases.TC_006_Sample6DragDropdemo"/>
    <class name="AppiumFramework.testcases.TC_007_Sample7miscelleanous"/>
    <class name="AppiumFramework.testcases.TC_008_Sample8RealDevice_MobileBrowser"/>
    <class name="AppiumFramework.testcases.TC_009_Main_SampleApiDemoTest"/>
    <class name="AppiumFramework.testcases.TC_010_Ecommerce_Main"/>
    <class name="AppiumFramework.testcases.TC_011_Ecommerce_Sample1"/>
    <class name="AppiumFramework.testcases.TC_012_Ecommerce_Sample2"/>
    
     <class name="AppiumFramework.testcases.TC_013_Ecommerce_Sample3"/>
    <class name="AppiumFramework.testcases.TC_014_Ecommerce_Sample4"/>
    
    -->
    
    <!--  <class name="AppiumFramework.testcases.SampleApiDemoTest"/> -->
     
    <!-- <class name="AppiumFramework.testcases.Ecommerce_TC_00_Main"/>   --> 
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
